*.suo
*.user
*.vs
_ReSharper.*
bin
obj
packages
Real-Time Corruptor/Output RTC
Real-Time Corruptor/BizHawk_RTC/Bizware/output/dll/BizHawk.Common.dll
Real-Time Corruptor/BizHawk_RTC/Bizware/output/dll/BizHawk.Bizware.BizwareGL.GdiPlus.dll
Real-Time Corruptor/BizHawk_RTC/Bizware/output/dll/BizHawk.Bizware.BizwareGL.dll
Real-Time Corruptor/BizHawk_RTC/Bizware/output/dll/OpenTK.dll
Real-Time Corruptor/output/dll/BizHawk.Emulation.DiscSystem.dll
Real-Time Corruptor/output/dll/BizHawk.Common.dll
Real-Time Corruptor/output/dll/BizHawk.Emulation.DiscSystem.pdb
Real-Time Corruptor/output/dll/BizHawk.Emulation.Common.dll
Real-Time Corruptor/output/dll/Newtonsoft.Json.dll
Real-Time Corruptor/output/dll/BizHawk.Common.pdb
Real-Time Corruptor/output/dll/BizHawk.Emulation.Common.pdb
RTC3 Launcher/.vs
Real-Time Corruptor/BizHawk_RTC/.vs

Real-Time Corruptor/output/RTC/BIN

!Real-Time Corruptor//output/dll/**
!Real-Time Corruptor//output/dll/
/output/dll/Bizhawk*
!Real-Time Corruptor//output/RTC/**
!Real-Time Corruptor//output/RTC/
Real-Time Corruptor//output/RTC/PARAMS/*
Real-Time Corruptor//output/RTC/WORKING/*
Real-Time Corruptor//output/RTC/RENDEROUTPUT/*

!Real-Time Corruptor//output/*.bat
!Real-Time Corruptor//output/AutoKillSwitch.exe
!Real-Time Corruptor//output/defctrl.json
